.categories-container {
    text-align: center;
    padding: 20px;
}

.categories-container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10vh;
}

.category-card {
    background-color: #5c6b73;
    color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    margin: 1px;
}

/* Responsive adjustments for mobile */
@media (max-width: 600px) {
    .categories-grid {
        grid-template-columns: 1fr;
    }
    .category-card {
        max-width: 80%;
        font-size: 1.1rem;
    }
}
