button.footer-nav {
    min-width: 10vw;
    width: 50%;
    font-size: min(7vw, 3.5vh);
    border: none;
    border-radius: 5px;
    background-color: #3a7a71ba;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    background-color: #bffff55d;
    font-size: 1.5vh;
    color: #000;
}