.songs-container {
    text-align: center;
    padding: 20px;
}

.songs-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10vh;
}

.song-card {
    background-color: #3a7a71;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.song-card:hover {
    transform: scale(1.05);
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
